.header {
    width: 100%;
}

.header * {
    display: inline;
}

.body {
    display: grid;
    padding: 30px;
    grid-template: 1fr / 1fr 1fr;
}

.body__right form {
    padding: 10px;
}

ul {
    list-style: none;
}

li {
    margin: 2px;
    padding: 2px;
    max-width: 90%;
    background-color: gray;
}

.activeItem {
    background-color: lightskyblue;
}