.header {
    width: 100%;
}

.header * {
    display: inline;
}

.games__grid {
    display: grid;
    grid-template: 10% 90% / 1fr 20fr 2fr 20fr 1fr;
}

.games__right form {
    padding: 10px;
}

.games__right button {
    margin-bottom: 0.5rem;
}

.games__right__blocks > div {
    border: 1px solid #dee2e6;
}

.games__body {
    grid-area: 2 / 1 / 2 / 6;
    display: grid;
    padding-top: 2rem;
    grid-template: 1fr / 1fr 20fr 2fr 20fr 1fr;
}

.games__left {
    grid-column: 2 / 2;
}

.games__right {
    grid-column: 4 / 4;
}


