.location__entry {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.character__header > * {
    display: inline;
}

.location__header > * {
    display: inline;
}