.header button {
    padding: 5px;
    margin: 5px;
}

.loginBody {
    text-align: center;
}

.loginField {
    display: block;
    padding-bottom: 5px;
}

.loginBody input[type="submit"] {
    margin: 5px;
}

.alert {
    text-align: center;
    margin: auto;
    color: red;
}