.App {
  text-align: center;
}

.pageTitle {
  font-size: 30px !important;
  font-family: 'Courier New', Courier, monospace;
  padding-left: 10px;
}

::placeholder {
  color: #aaa !important;
}

.page__header {
  grid-area: 1 / 2 / 1 / 5;
}